$navy: #001f3f


h3
  font-weight: bold
  color: $navy
  text-align: center
  text-transform: uppercase

.face-lockup
  max-width: 780px
  display: flex
  align-items: center
  justify-content: space-around
  
  margin: 0 auto
  
  .face-img
    order: 2
    img
      border-radius: 50% 
      height: 150px 
      width: 150px
      

  .icon-seo
    order: 1
    img
      background-color: #e5eaee
      border-radius: 50%
      height: 100px 
      width: 100px
      

  .icon-marketing
    order: 0
    img
      height: 100px 
      width: 100px
      
  .icon-coding
    order: 2
    img
      height: 100px 
      width: 100px
      
  .icon-layout
    order: 3
    img
      height: 100px 
      width: 100px


