* {
  margin: 0;
  padding: 0; }

header {
  background-position: 30px 20px, 50% 50%;
  background: url(../images/fondo.jpg);
  background-size: cover;
  padding-bottom: 50px; }
  header .logo {
    height: 50px;
    width: 50px;
    background: #3e3a3a;
    border-radius: 50px;
    margin: 10px 0 0 30px;
    float: left; }
    header .logo img {
      height: 40px;
      width: 40px; }
  header nav {
    float: right;
    margin: 30px 30px 0 0;
    margin-top: 0px; }
    header nav a {
      display: inline-block;
      margin-left: 20px;
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      header nav a:hover {
        color: black; }
  header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px; }
    header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: white solid 10px; }
  header .kicker {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1; }

@media (max-width: 640px) {
  header {
    background-size: cover;
    margin: 0; }
    header nav {
      float: none;
      text-align: center;
      padding-top: 90px;
      margin-bottom: 15px; }
    header h1 {
      font-size: 32px;
      padding-top: 0px; } }
footer {
  background: url(../images/fondo.jpg) center center;
  background-size: cover; }
  footer .lockup {
    padding: 50px 30px; }
    footer .lockup .content-wrap {
      float: left;
      margin-left: 80px; }
      footer .lockup .content-wrap .copyright {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4); }
      footer .lockup .content-wrap a {
        font-weight: 700;
        color: white;
        display: inline-block;
        margin-right: 30px; }
        footer .lockup .content-wrap a:hover {
          color: rgba(0, 0, 0, 0.7); }

h3 {
  font-weight: bold;
  color: #001f3f;
  text-align: center;
  text-transform: uppercase; }

.face-lockup {
  max-width: 780px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto; }
  .face-lockup .face-img {
    order: 2; }
    .face-lockup .face-img img {
      border-radius: 50%;
      height: 150px;
      width: 150px; }
  .face-lockup .icon-seo {
    order: 1; }
    .face-lockup .icon-seo img {
      background-color: #e5eaee;
      border-radius: 50%;
      height: 100px;
      width: 100px; }
  .face-lockup .icon-marketing {
    order: 0; }
    .face-lockup .icon-marketing img {
      background-color: #e5eaee;
      border-radius: 50%;
      height: 100px;
      width: 100px; }
  .face-lockup .icon-coding {
    order: 2; }
    .face-lockup .icon-coding img {
      background-color: #e5eaee;
      border-radius: 50%;
      height: 100px;
      width: 100px; }
  .face-lockup .icon-layout {
    order: 3; }
    .face-lockup .icon-layout img {
      background-color: #e5eaee;
      border-radius: 50%;
      height: 100px;
      width: 100px; }

@media screen and (max-width: 650px) {
  .face-lockup {
    display: block;
    text-align: center; }

  div {
    display: inline-block; }

  .face-img {
    display: block;
    width: auto;
    margin-bottom: 10px; }

  .icon-seo, .icon-layout, .icon-coding, .icon-marketing {
    margin: 10px; } }
.blurb {
  max-width: 620px;
  margin: 50px auto;
  padding: 0 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 300; }

.skill-lockup {
  max-width: 540px;
  margin: 100px auto; }
  .skill-lockup:after {
    content: "";
    display: table;
    clear: both; }
  .skill-lockup .skill-unit {
    width: 270px;
    float: left; }
  .skill-lockup .skill-icons {
    font-size: 0;
    margin: 3px 0; }
    .skill-lockup .skill-icons span {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #001f3f;
      margin-right: 5px;
      border-radius: 50%; }
      .skill-lockup .skill-icons span:after {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        background: #fff;
        border-radius: 50%;
        margin: 2px; }
    .skill-lockup .skill-icons.skill-1 span:nth-child(n+7) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-2 span:nth-child(n + 6) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-3 span:nth-child(n+ 4) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-4 span:nth-child(n+6) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-5 span:nth-child(n+5) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-6 span:nth-child(n+4) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-7 span:nth-child(n+4) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-8 span:nth-child(n+4) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-9 span:nth-child(n+5) {
      background: #e5eaee; }

@media screen and (max-width: 541px) {
  .skill-lockup {
    width: 220px;
    margin: 0 30px; }
    .skill-lockup .skill-unit {
      width: 220px; } }
.contact-lockup {
  width: 20px;
  height: 50px;
  display: inline-block; }
  .contact-lockup div {
    text-transform: uppercase;
    margin: 5px 4px;
    font-weight: bold;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
